body {
    margin: 0px;
    padding: 0px;
    text-align: center;

}

#menu-bar{
    position: absolute;
    display: block;
    width: 100%;
   
}

#menu {
    
    width: 50px;
    height: 20px;
    margin: 30px 0 14px 25px;
    cursor: pointer;
    
  
}

.bar {
    height: 6px;
    width: 100%;
    background-color: red;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);

}

.navb li a {
    color: red;
    font-weight: 100;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.navb li {
    list-style: none;
    padding: 17px 0;
}

.navb li a:hover {
    font-weight: bold;
}

.navb {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.change .bar {
    background-color:darkred;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-5px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

 
.w3-contentw3-section {
    max-width:100%;
    /*margin-top: 10%;*/
    margin-left: 10px;
    opacity: 0.5;
    pointer-events:none;
    border-radius: 15px;
    

}
.mySlides{
    border-radius: 15px;
}


img{
    display: block;
    width: 100%;
    height: auto;

}



.map img {
    /*padding-right: 1rem;
    padding-left: 1rem;*/
    /*height: 350px;
    width: 500px;
    */
    display: block;
    width: 100%;
}

.beaches-header {

    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(40, 160, 196, 0.37);
    font-weight: 900;
    margin-top: 200px;
}


.block-img {
    position: relative;
    display: block;
    width:100%;
    background-color: rgba(246, 247, 248, 0.603);
    width: 90%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    margin: 30px;
    margin-top: 1.5rem;

}
.haiti-logo{
    display: none;
}

.img-1,
.img-2,
.img-3,
.img-4 {

   
    /*height: 400px;
    width: 600px;*/
    margin: 20px;
    display: block;
    width: 75%;
    transition-property: width, height, transform, background, font-size, opacity;
    transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover {

    /*width: 620px;
    height: 420px;*/
    width: 400px;
    height: 280px;
    
    

}
.title{
    position: relative; 
    top:-200px; 
    text-align: center; 
    font-size: 25px; 
    color: azure;
    font-family: serif ; 
    font-style: italic;
}
.subtitle{
    position: absolute; 
    top:100px; 
    font-size:25px;
    display: none;
    
    color:white;
    text-align: center;
    font-family: Times New Roman, Times, serif; 
    text-transform: uppercase;
}

.intro-haiti{
    padding: 10px;
    margin: 10px;
    position: relative;
    top: 160px;
}

.haiti-history{
    margin-top: -200px;
    
}
.main-footer{
   
    /*padding-bottom: 30px;*/
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.contain{
    width:80%;
    
}
.card{
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 50px;
    background: skyblue;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    text-align: center;
    margin-left: 40%;
}
.fa fa-refresh,
.ttext{
  visibility:hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
 opacity: 0;
 transition: opacity 1s;

}


.fa fa-refresh:hover
.refresh:hover,
.ttext{
    visibility: visible;
    opacity: 1;
}



/* For tablets 
@media only screen and (min-width: 600px) {
    
    
    }
}

*/

/*for Desktop */
@media only screen and (min-width: 768px){
    body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; }
    
    
    .container{
        padding-top:10px
        
    }
    .bar{
        display: none;
    }
    
    nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:10vh;
    background-color:lightblue;/*lightblue color */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
     z-index:10;
    }
    
    .navb {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 21;
    }
    
    .haiti-logo{
        display: inherit;
        padding: 40px
    }
    
   a:hover {
    text-decoration: underline;
  }

.w3-contentw3-section{

    display: inline;
}

.main-footer{
    text-align: center;
}

.slider-items {
    display: inline;

}

.w2-center {
    margin: 90px;
    text-align: center;
    width: 100%;

}
.w3-contentw3-section {

    align-items: center;
   
}
.intro-haiti{
    display: flex;
    padding-bottom: 20%;
    margin-bottom: -7%;
    


}
.haiti-history {
    padding-left:2rem;
    margin-top: -230px;
    
}
.map img{
    display: block;
    width: 80%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 10%;
    height: 300px;
    margin-top: -20%;
 
}
.beaches-header{

    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Roboto Condensed',sans-serif;
    color: rgba(40, 160, 196, 0.37);
    font-weight: 900;
    margin-top: 50px;
}


.block-img {
    background-color: rgba(246, 247, 248, 0.603);
    width: 90%;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
    padding-left: 19px;
    margin-top: 1.5rem;
    display: flex;
    padding-right: 40px;
    background-color: ivory;

    
    


}

.img-1,
.img-2,
.img-3,
.img-4{
    
    margin-right: 43px;
    margin-left: 40px;
    height: 400px;
    width: 500px;
    transition-property: width,height,transform,background,font-size,opacity;
    transition-duration: 1s,1s,1s,1s,1s,1s;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover{

    width: 490px;
    height:400px;
    

}
.contain{
    width: 10%;
    

}

.card{
    border-radius: 50px;
    background: skyblue;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    padding: 3%;
    text-align: center;
}
.haititemp{
    display: flex;
    padding-top: 100px;
    margin-left: 20px;
}
.haititemp,
    h1{
        margin-top: -30px
    }

.haititemp,
    p{
        line-height: 1.5; 
        text-align: left; 
        margin-left: -200px;
    }
}
.

