body {
    margin: 0px;
    padding: 0px;
    

}

#menu-bar{
    position: absolute;
    display: block;
    width: 100%;
   
}

#menu {
    
    width: 50px;
    height: 20px;
    margin: 30px 0 14px 25px;
    cursor: pointer;
    
  
}

.bar {
    height: 6px;
    width: 100%;
    background-color: red;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);

}

.navb li a {
    color: red;
    font-weight: 100;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.navb li {
    list-style: none;
    padding: 17px 0;
}

.navb li a:hover {
    font-weight: bold;
}

.navb {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.change .bar {
    background-color:darkred;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-5px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

 
.w3-contentw3-section {
    max-width:100%;
    /*margin-top: 10%;*/
    margin-left: px;
    opacity: 0.5;
    pointer-events:none;
    border-radius: 15px;
    

}
.mySlides{
    border-radius: 15px;
}


img{
    display: block;
    width: 100%;
    height: auto;

}



.map img {
    /*padding-right: 1rem;
    padding-left: 1rem;*/
    /*height: 350px;
    width: 500px;
    */
    display: block;
    width: 100%;
}

.beaches-header {

    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(40, 160, 196, 0.37);
    font-weight: 900;
    margin-top: 200px;
}


.block-img {
    position: relative;
    display: block;
    width:100%;
    background-color: rgba(246, 247, 248, 0.603);
   
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    margin: 16px;
    margin-top: 1.5rem;

}
.haiti-logo{
    display: none;
}

.img-1,
.img-2,
.img-3,
.img-4 {

   
    /*height: 400px;
    width: 600px;*/
    margin: 40px;
    display: block;
    width: 75%;
    padding-bottom: 20px;
    transition-property: width, height, transform, background, font-size, opacity;
    transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
    transform: scale(1.0);
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover {

    /*width: 620px;
    height: 420px;*/
   transform: scale(1.0);
    
    

}
.title{
    position: relative; 
    top:-200px; 
    text-align: center; 
    font-size: 25px; 
    color: azure;
    font-family: serif ; 
    font-style: italic;
}
.subtitle{
    position: absolute; 
    top:100px; 
    font-size:25px;
    display: none;
    
    color:white;
    text-align: center;
    font-family: Times New Roman, Times, serif; 
    text-transform: uppercase;
}

.intro-haiti{
    padding: 10px;
    margin: 20px;
    position: relative;
    top: 160px;
}

.haiti-history{
    margin-top: -12rem;
    margin-left: -24px;
    
}
.haiti-history
p{
    font-style: italic;
    margin-top: -2rem;
    
}

.main-footer{
   
    /*padding-bottom: 30px;*/
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
 
.card{
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 50px;
    background: skyblue;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    text-align: center;
    margin-left: 130px;
    width: 40%;
}


.fa fa-refresh,
.ttext{
  visibility:hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
 opacity: 0;
 transition: opacity 1s;

}


.fa fa-refresh:hover,
.ttext{
    visibility: visible;
    opacity: 1;
}

.lastp,
    p{

        margin-left: 1.5%;
    text-align: left;

    }


img{
    width: 30px;
}
.bg-img{
    background-color: lightblue;
    background-image: url(haiti/palm-trees.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
    margin-top: 30px;
    
    
    

}
form,
.containers {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 5;
    width: 70%;
    margin-left: 50px;
    opacity: .8;
    border-radius:20px;
    box-shadow: 1px 1px 10px 5px  grey;
    padding-bottom: 3%;
    
    
    
  }
  


input[type=text], select, textarea {
  width: 90%;
  padding: 2px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin: 10px;
  resize: vertical;
}
.label {
    padding-left: 8px;
    color: blue;
  }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.btn {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-left: 5px;
    opacity: 0.9;
    border-radius:20px;


}





/* For tablets */
@media screen and (min-width: 600px) and (max-width: 767px) {

.
    {   
        display: block;
        width: 100%;
    }


    
    .container1,
    
    
    {
        float: left;
        
    
        
    }

    
.img-1,
.img-2,
.img-3,
.img-4 {
    width: 100%;
    
}
   
    
    }




/*for Desktop */
@media only screen and (min-width: 768px){
    body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; }
    
    
    .container{
        padding-top:10px
        
    }
    .bar{
        display: none;
    }
    
    nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:10vh;
    background-color:lightblue;/*lightblue color */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
     z-index:10;
    }
    
    .navb {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-bottom: 21;
    }
    
    .haiti-logo{
        display: inherit;
        padding: 40px
    }
    
   a:hover {
    text-decoration: underline;
  }

.w3-contentw3-section{

    display: inline;
}

.main-footer{
    text-align: center;
}

.slider-items {
    display: inline;

}

.w2-center {
    margin: 90px;
    text-align: center;
    width: 100%;

}
.w3-contentw3-section {

    align-items: center;
   
}
.intro-haiti{
    display: flex;
    padding-bottom: 20%;
    margin-bottom: -7%;
    


}
.haiti-history {
    
    padding-left: 10px;
    margin-top: -150px;
    
}
.map img{
    display: block;
    width: 80%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 10%;
    height: 300px;
    margin-top: -20%;
 
}
.beaches-header{

    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Roboto Condensed',sans-serif;
    color: rgba(40, 160, 196, 0.37);
    font-weight: 900;
    margin-top: 50px;
}
.haiti-history
h1{
    margin-top: 0px;
    font-family: Roboto;
}

.haiti-history 
p{
    line-height: 1.5;
    text-align: left;
    margin-left: 1px;


}



.block-img {
    background-color: rgba(246, 247, 248, 0.603);
    width: 90%;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
    padding-left: 19px;
    margin-top: 1.5rem;
    display: flex;
    padding-right: 40px;
    background-color: ivory;

}

.img-1,
.img-2,
.img-3,
.img-4{
    
    margin-right: 43px;
    margin-left: 40px;
    height: 250px;
    width: 300px;
    transition-property: width,height;
    transition-duration: 1s,1s,1s,1s,1s,1s;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover{

    width: 320px;
    height:300px;

    

}
.contain{
    width: 10%;
    

}

.card{
    border-radius: 50px;
    background: skyblue;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    padding: 4%;
    text-align: center;
    width: 70%;
}
.haititemp{
    display: flex;
    padding-top: 100px;
    
}
.haititemp,
    h1{
        margin-top: -34px;
        margin-left: 15%;
    }



.lastp,
p{

    margin-left: -45%;
    text-align: left;

    }


.bg-img{
    display:flex;
    justify-content:center;
    padding-bottom: 40px;
    padding-top: px;
    
   

}
.containers{
    width: 400px;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    
    
}
.containers
h1{
    padding-right: 50px;
}

}


